<%- include('includes/head') %>

    <section class="container">
        <h1>
            <!-- <% if(typeof titulo !== 'undefined' ){ %>
                <%= titulo %>
            <% }else{%>
                <%= 'Página não tem título' %>
            <%}%> -->
            <!-- <% numeros.forEach(element=> { %>
                <%= element %> <br>
                    <%}); %> -->
            <%= umaVariavelLocal %>
        </h1>


        <label for="input-teste-1">Label teste #1</label>
        <input type="text" id="input-teste-1">

        <button>Enviar</button>

    </section>
<%- include('includes/footer') %>